.main-container {
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 16px;
}

header {
    background: linear-gradient(90deg, rgba(231,50,54,1) 0%, rgba(240,201,6,1) 100%);
    padding: 16px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: baseline;
}
.header-name h1{
    font-size: 5rem;
    line-height: 6rem;
}

.header-agency{
    font-size: 4rem;
}

.departure-row{
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.short-name{
    display: flex;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.shortName-and-headsign{
    display: flex;
}