.main-container {
    background-color: rgb(158, 218, 223);
    margin: 20px
}

ul{
    list-style-type: none;
    margin: 0;

}

header {
    background: linear-gradient(90deg, rgba(231,50,54,1) 0%, rgba(240,201,6,1) 100%);
    padding: 16px;
    display: flex;
    color: white;
    justify-content: space-between;
}

.departure-row{
    display: flex;
}

.short-name{
    width: 40px;
    border-radius: 5px;
}